[Unit]
Description=Mount a set of devices on demand.

[Service]
Type=simple
ExecStart=BIN_PREFIX/mountdevs
Environment=GETPATH_CONFIG_HOME=HOME/.config
Environment=PATH=/usr/bin:BIN_PREFIX:DATA_PREFIX/include

[Install]
WantedBy=default.target
