shell=bash

external-sources=true

disable=SC1003
disable=SC1007
disable=SC1090
disable=SC1091
disable=SC2015
disable=SC2016
disable=SC2046
disable=SC2059
disable=SC2064
disable=SC2086
disable=SC2088
disable=SC2188

enable=avoid-nullary-conditions
enable=deprecate-which
