CompileFlags:
  Compiler: g++
  Add: [-O3, -std=c++2c, -Wall, -Wextra, -Werror, -Wabi=11, -Wswitch-default, -Wimplicit-fallthrough=5, -Wstringop-overflow=4, -Wfloat-equal, -Wdouble-promotion, -Wdisabled-optimization, -Wstrict-null-sentinel, -Wold-style-cast, -Wsign-promo, -fpermissive, -Iinclude, -I../c/include, -I../../lib/hedley, -I../../lib/pstreams]

# vim: ft=yaml
