---

Standard: c++03

ColumnLimit: 100

AccessModifierOffset: -4
ContinuationIndentWidth: 4
IndentCaseLabels: true
IndentGotoLabels: false
IndentPPDirectives: None
IndentWidth: 4
IndentWrappedFunctionNames: false
TabWidth: 4
UseTab: Never

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: false
DerivePointerAlignment: false
PointerAlignment: Right

AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: true

AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: false

BinPackArguments: true
BinPackParameters: true

BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: false
BreakStringLiterals: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: false
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: true
  AfterStruct: false
  AfterUnion: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: true

Cpp11BracedListStyle: false # adds spaces around braces
MaxEmptyLinesToKeep: 1

ReflowComments: false

SortIncludes: true

SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

...
